@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .app-topbar, .app-sidebar, .app-logo-bg {
            display: none !important;
        }

        #login {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container-login {
            width: 100%;
            max-width: 350px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
            text-align: center;
        }

            .container-login img {
                width: 140%;
                margin-bottom: 20px;
            }

            .container-login > form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;
                margin-bottom: 20px;
            }

        .input-group-login {
            margin-bottom: 32px;
        }

        .input-group-login {
            position: relative;
            width: 100%;
        }

            .input-group-login i {
                position: absolute;
                left: 15px;
                top: 50%;
                transform: translateY(-50%);
                color: #434242;
                font-size: 1.3rem;
            }

        input.form-control {
            background-color: #CCD9EB !important;
            border-radius: 8px;
            border: none;
            color: #000;
            font-size: 1.3rem !important;
            padding-left: 45px;
            width: 425px;
            height: 55px;
            box-sizing: border-box;
            transition: background-color 0.3s ease;
        }

            input.form-control:-webkit-autofill {
                background-color: #CCD9EB !important;
                box-shadow: 0 0 0px 1000px #CCD9EB inset !important;
            }

            input.form-control:focus {
                background-color: #CCD9EB !important;
                outline: none;
                border: 2px solid #A2C8F7;
                box-shadow: 0 0 5px rgba(162, 200, 247, 0.5);
                font-size: 1.3rem !important;
            }

        button.btn {
            width: 225px;
            height: 48px;
            font-size: 1.2rem;
            padding: 0.8rem;
            margin-top: 20px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 8px;
            transition: background-color 0.3s;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
        }

            button.btn:hover {
                background-color: #0056b3;
                cursor: pointer;
            }

            button.btn i {
                font-size: 1.8rem;
            }

        .register-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-top: 20px;
            font-size: 18px;
            color: #000000;
            font-weight: 600;
            width: 100%;
            text-align: center;
        }

            .register-link div {
                margin-top: 5px;
                text-align: center;
            }

            .register-link a {
                margin-left: 5px;
                color: #1a73e8;
                text-decoration: none;
            }

                .register-link a:hover {
                    color: #0056b3;
                    cursor: pointer;
                }
    </style>
</head>

<div id="login">
    <div class="container-login">
        <img src="~/assets/logo/colorful.svg" alt="Cuidado logo" class="img-fluid">
        <form method="post">
            <div>
                <div class="mb-3">
                    <div class="input-group-login">
                        <i class="fas fa-id-card"></i>
                        <input type="text" asp-for="Input.UserName" class="form-control" maxlength="11" required aria-required="true" placeholder="CPF">
                        <span asp-validation-for="Input.UserName" class="messages"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group-login">
                        <i class="fas fa-key"></i>
                        <input type="password" asp-for="Input.Password" class="form-control" autocomplete="current-password" required aria-required="true" placeholder="Senha">
                        <span asp-validation-for="Input.Password" class="messages"></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn">
                Entrar <i class="fas fa-arrow-right"></i>
            </button>
            <div class="register-link">
                <a asp-page="./ForgotPassword">Esqueceu a senha?</a>
            </div>
        </form>
    </div>
</div>
