<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - CuidadoWeb</title>

    <!-- Styles -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

    <!-- Phosphor icons -->
    <link rel="stylesheet" href="~/assets/fonts/phosphor/bold/style.css">
    <link rel="stylesheet" href="~/assets/fonts/phosphor/duotone/style.css">
    <link rel="stylesheet" href="~/assets/fonts/phosphor/fill/style.css">
    <link rel="stylesheet" href="~/assets/fonts/phosphor/light/style.css">
    <link rel="stylesheet" href="~/assets/fonts/phosphor/regular/style.css">
    <link rel="stylesheet" href="~/assets/fonts/phosphor/thin/style.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="~/assets/fonts/DMSans/style.css">
</head>
<body>
    <header>
        <nav class="app-top-bar">
            <a asp-controller="Home" asp-action="Index">
                <img class="app-logo" src="~/assets/logo/colorful.svg" alt="Cuidado logo" />
            </a>

            <div class="app-user-info">
                <!-- TODO: quando implementar autenticação implementar essa
parte -->
                <p class="app-text-h-md">Nome do funcionário</p>
                <p class="app-text-b-lg">Cargo</p>
            </div>
        </nav>
    </header>

    <div class="app-side-bar">
        <div class="app-side-bar-top">
            <div class="app-side-bar-button">
                <i class="ph ph-house app-side-bar-icon"></i>
                <p class="app-text-h-lg app-side-bar-label">Início</p>
            </div>
            <div class="app-side-bar-button">
                <i class="ph ph-wrench app-side-bar-icon"></i>
                <p class="app-text-h-lg app-side-bar-label">Gerenciamento</p>
            </div>
        </div>
        <div class="app-side-bar-bottom">
            <div class="app-side-bar-button">
                <i class="ph ph-sliders-horizontal app-side-bar-icon"></i>
                <p class="app-text-h-lg app-side-bar-label">Configurações</p>
            </div>
        </div>
    </div>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
    </footer>

    <script src="~/js/script.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
