<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - CuidadoWeb</title>

    <!-- Styles -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

    <!-- Phosphor icons -->
    <link rel="stylesheet" href="~/assets/fonts/phosphor/bold/style.css">
    <link rel="stylesheet" href="~/assets/fonts/phosphor/duotone/style.css">
    <link rel="stylesheet" href="~/assets/fonts/phosphor/fill/style.css">
    <link rel="stylesheet" href="~/assets/fonts/phosphor/light/style.css">
    <link rel="stylesheet" href="~/assets/fonts/phosphor/regular/style.css">
    <link rel="stylesheet" href="~/assets/fonts/phosphor/thin/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="~/assets/fonts/DMSans/style.css">
</head>
<body>
    <header>
        <nav class="app-topbar">
            <a asp-controller="Home" asp-action="Index">
                <img class="logo" src="~/assets/logo/colorful.svg" alt="Cuidado logo" />
            </a>

            <div class="user-info">
                <!-- TODO: quando implementar autenticação implementar essa
parte -->
                <p class="app-text-h-md name">Nome do funcionário</p>
                <p class="app-text-b-lg role">Cargo</p>
            </div>
        </nav>
    </header>

    <div class="app-sidebar">
        <div class="container">
            <a class="button">
                <i class="ph ph-house icon"></i>
                <p class="app-text-h-lg label">Início</p>
            </a>
            <a class="button" asp-controller="Manager" asp-action="Index">
                <i class="ph ph-wrench icon"></i>
                <p class="app-text-h-lg label">Gerenciamento</p>
            </a>
        </div>
        <div class="container">
            <div class="button">
                <i class="ph ph-sliders-horizontal icon"></i>
                <p class="app-text-h-lg label">Configurações</p>
            </div>
        </div>
    </div>

    <main role="main" class="app-main-content">
        <img class="app-logo-bg" src="~/assets/logo/colorless.svg" alt="Cuidado logo" />
        @RenderBody()
    </main>

    <script src="~/js/script.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
