<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - CuidadoWeb</title>

    <!-- Styles -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

    <!-- Phosphor icons -->
    <link rel="stylesheet" href="~/assets/fonts/phosphor/bold/style.css">
    <link rel="stylesheet" href="~/assets/fonts/phosphor/duotone/style.css">
    <link rel="stylesheet" href="~/assets/fonts/phosphor/fill/style.css">
    <link rel="stylesheet" href="~/assets/fonts/phosphor/light/style.css">
    <link rel="stylesheet" href="~/assets/fonts/phosphor/regular/style.css">
    <link rel="stylesheet" href="~/assets/fonts/phosphor/thin/style.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="~/assets/fonts/DMSans/style.css">
</head>
<body>
    <header>
        <nav class="app-top-bar">
            <img class="app-logo" src="~/assets/logo/colorful.svg" alt="Cuidado logo">

            <div class="app-user-info">
                <b>Nome do funcionário</b>
                <i>Cargo</i>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CuidadoWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/script.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
