@{
    ViewData["Title"] = "Manager Page";

    var cards = new List<ManagerViewModel>
    {
        new ManagerViewModel {
            Title = "Organização",
            Icon = "bank",
            Action="Organizacao"
        },

        new ManagerViewModel {
            Title = "Funcionário",
            Icon = "hard-hat",
            Action="Funcionario"
        },

        new ManagerViewModel {
            Title = "Responsável",
            Icon = "identification-card",
            Action="Responsavel"
        },

        new ManagerViewModel {
            Title = "Residente",
            Icon = "user-plus",
            Action="Residente"
        },

        new ManagerViewModel {
            Title = "Cuidado",
            Icon = "hand-heart",
            Action="Cuidado"
        },

        new ManagerViewModel {
            Title = "Consulta",
            Icon = "clipboard-text",
            Action="Consulta"
        },

        new ManagerViewModel {
            Title = "Produto",
            Icon = "shopping-cart",
            Action="Produto"
        },

        new ManagerViewModel {
            Title = "Visitante",
            Icon = "plus",
            Action="Visitante"
        },

        new ManagerViewModel {
            Title = "Visita",
            Icon = "plus",
            Action="Visita"
        },
    };
}

<div class="manager-cards">
    <div class="row">
        <partial name="_Card.cshtml" model="cards[0]">
        <partial name="_Card.cshtml" model="cards[1]">
        <partial name="_Card.cshtml" model="cards[2]">
    </div>
    <div class="row">
        <partial name="_Card.cshtml" model="cards[3]">
        <partial name="_Card.cshtml" model="cards[4]">
        <partial name="_Card.cshtml" model="cards[5]">
        <partial name="_Card.cshtml" model="cards[6]">
    </div>
    <div class="row">
        <partial name="_Card.cshtml" model="cards[7]">
        <partial name="_Card.cshtml" model="cards[8]">
    </div>
</div>

