@model string;

@{
    ViewData["Title"] = "Managing " + Model;

    var cards = new List<ManagerViewModel>
    {
        new ManagerViewModel {
            Title = "Buscar",
            Icon = "magnifying-glass",
            Controller = Model,
            Action="Index"
        },

        new ManagerViewModel {
            Title = "Novo",
            Icon = "plus",
            Controller = Model,
            Action="Create"
        },
    };
}

<div class="manager-cards">
    <div class="row">
        <partial name="_Card.cshtml" model="cards[0]">
        <partial name="_Card.cshtml" model="cards[1]">
    </div>
</div>

