.app-sidebar {
    position: absolute;
    top: 6em /* 6em come from header height */;
    left: 0;
    bottom: 0;

    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;

    padding: 2.5em 0.75em;

    background-color: var(--secondary);
    z-index: 10;

    width: 4.5em;
    transition: width 0.3s ease;
}

.app-sidebar:hover {
    width: 19.25em;
}

.app-sidebar:hover .button .label {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition: opacity 0.3s ease, transform 0.5s ease;
    transition-delay: 0.15s;
}

/* Parts of the side bar */
.app-sidebar .container {
    display: flex;
    gap: 2em;
    flex-flow: column;
    width: 100%;
}

/* Button component */
.app-sidebar .button {
    cursor: pointer;
    display: flex;
    gap: 1em;
    padding: 0.5em 0em;
    flex-flow: row;
    align-items: center;
    transition: padding 0.3s ease;
}

.app-sidebar .button:hover {
    color: var(--primary);
    padding: 0.5em 1.25em;
    border-radius: 1.25em;
    background-color: var(--gray-3);
}

.app-sidebar .button .icon {
    font-size: 3em;
}

.app-sidebar .button .label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: opacity 0.3s ease;
}

