/**
 * Section to insert styles for other components!!
 */
@import url("./bar/style.css");

/**
 * This file is for global styles only!!
 */
* {
    margin: 0px;
    padding: 0px;

    min-width: 0px;

    box-sizing: border-box;
}

:root {
    /* Application default colors */
    --primary: #4E73DF;
    --primary-dark: #284096;

    --secondary: #CCD9EB;
    --secondary-dark: #768CA9;

    --error: #DF4E4E;
    --error-dark: #7A1B1B;

    /* Gray scale */
    --white: #FFFFFF;
    --black: #09090B;

    --gray-3: #F1F1F1;
    --gray-2: #D9D9D9;
    --gray-1: #434242;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: var(--gray-3);

    font-family: "DM Sans";
    font-weight: normal;
}

